numpy
matplotlib
torch==2.8
scikit-learn
streamlit
jupyter
notebook
jupyterlab
tqdm
datasets
evaluate
wandb
bitsandbytes
accelerate
torchvision
addict
einops
easydict
transformers
tokenizers
PyMuPDF
img2pdf
Pillow
numpy
# flash-attn==2.7.3 --no-build-isolation
ninja
